*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
}

.left{
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    background-image: url("rem.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    transform-origin: right;
    transition: width ease 1.5s;
    overflow: hidden;
}
.left::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000164;
    filter: blur(2px);
    opacity: 0.2;
}

.right{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 50vw;
    background-image: url("fl.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    transform-origin: left;
    transition: all ease 1.5s;
    overflow: hidden;
}
.right::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4b1326;
    filter: blur(2px);
    opacity: 0.4;
    z-index: 0;
}
.content{
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    height: 300px;
    z-index: 1;
}

h2{
    width: max-content;
    font-size: 40px;
    color: white;
    letter-spacing: 5px;
}
.btn{
    color: white;
    margin-top: 70px;
    font-size: 20px;
    border: 2px solid white;
    width: 150px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.left .btn:hover{
    background-color: #001f9c;
    border-color:  #001f9c;
}
.right .btn:hover{
    background-color: #ff7979;
    border-color: #ff7979;
}
